.wy-side-nav-search, .wy-nav-top {
  background-color: #00589d;
}

/* added manually by DH, Oct 3, 2016 */

.strike {
    text-decoration: line-through;
}

.underline {
    text-decoration: underline;
}
