# GAMS, R, Python-specific auxiliary files
*.~gm
*.~op
*.pyc
*.bak
*.egg-info
*.gdx
*.lst
*.log
*.lxi
*.gch
*.gpr
/model/2*/**
/model/$gms*
*.dat
*.tmp
*.RData*
*.pyc
*-checkpoint.ipynb
*~
#*
*#
*.Rproj
*.Rcheck

# Apple file system
.DS_Store

# local version of auto-documentation features
/doc/build/**
/doc/source/model/**

# files generated during install
build
dist

# credentials
config/*.properties

# testdb
.cache/**
tests/testdb/test.properties
tests/testdb/ixmptest.properties
tests/testdb/ixmptest.lck

# rixmp build folder and rhistory
r*ixmp_*.tar.gz
r*ixmp_*.zip
rixmp/source/inst/docum/*.html
rixmp/source/.Rhistory
!rixmp/source/*.Rproj
.Rproj.user

# virtualenv
.env

# pytest
.coverage
.pytest_cache/

# idea
.idea/
*.iml
