# GAMS, R, Python-specific auxiliary files
__pycache__
*-checkpoint.ipynb
*.~gm
*.~op
*.bak
*.dat
*.egg*
*.gch
*.gdx
*.gpr
*.log
*.lst
*.lxi
*.pyc
*.Rcheck
*.RData*
*.Rproj
*.swp
*.tmp
*#
*~
/model/$gms*
/model/2*/**

# Apple file system
.DS_Store

# Sphinx
doc/_build

# setuptools
build
dist

# rixmp build folder and rhistory
!rixmp/source/*.Rproj
.Rproj.user
*.Rcheck
rixmp_*.tar.gz
rixmp_*.zip
rixmp/source/.Rhistory
rixmp/source/inst/docum/*.html

# virtualenv
.env

# pytest and related
.benchmarks
.coverage*
.pytest_cache
.mypy_cache
*.pid
coverage.xml
htmlcov

# JetBrains IDEs
*.iml
/**/.idea

# temporary folder
temp/
