# GAMS, R, Python-specific auxiliary files
*-checkpoint.ipynb
*.~gm
*.~op
*.bak
*.dat
*.egg*
*.gch
*.gdx
*.gpr
*.log
*.lst
*.lxi
*.pyc
*.Rcheck
*.RData*
*.Rproj
*.swp
*.tmp
*#
*~
/model/$gms*
/model/2*/**

# Apple file system
.DS_Store

# sphinx
doc/build
# Compiled SVG
doc/source/_static/*.svg

# setuptools
build
dist

# rixmp build folder and rhistory
!rixmp/source/*.Rproj
.Rproj.user
*.Rcheck
r*ixmp_*.tar.gz
r*ixmp_*.zip
rixmp/source/.Rhistory
rixmp/source/inst/docum/*.html

# virtualenv
.env

# pytest and related
.coverage*
.pytest_cache/
*.pid
coverage.xml
htmlcov/

# JetBrains IDEs
*.iml
/**/.idea

# temporary folder
temp/
