repos:
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.19.1
  hooks:
  - id: mypy
    pass_filenames: false
    additional_dependencies:
    - genno
    - GitPython
    # TEMPORARY Use branch for https://github.com/iiasa/ixmp4/pull/208
    - "ixmp4 @ git+https://github.com/iiasa/ixmp4@enhancement/tk-integration-proto; python_version > '3.9'"
    - nbclient
    - pandas-stubs
    - pytest
    - pytest_httpserver
    - Sphinx
    - werkzeug
    - xarray
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.11
  hooks:
  - id: ruff-check
  - id: ruff-format
    args: [ --check ]
