repos:
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.14.1
  hooks:
  - id: mypy
    pass_filenames: false
    additional_dependencies:
    - genno
    - GitPython
    - nbclient
    - pandas-stubs
    - pytest
    - Sphinx
    - werkzeug
    - xarray
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.1
  hooks:
  - id: ruff
  - id: ruff-format
    args: [ --check ]
