language: minimal

r: release

matrix:
    include:
        - os: linux
          env: PYENV=py37
        - os: linux
          env: PYENV=py27
        - os: osx
          env: PYENV=py37
        - os: osx
          env: PYENV=py27
# turn these on once travis support gets a little better, see pyam for example
#        - os: windows
#          env: PYENV=py37
#        - os: windows
#          env: PYENV=py27

before_install:
  - source ./ci/env.sh
  - bash ./ci/travis-install.sh
  - source activate testing

install:
  - python setup.py install
  - R -e 'devtools::install_deps(package = "retixmp/source", dep = T)'

script:
  - python -c "import os, sys; assert os.environ['PYVERSION'] == sys.version[0]"
  - cd tests
  - py.test --verbose --cov=ixmp --cov-config ../ci/.coveragerc --cov-report term-missing
  - cd ..
  - cd doc
  - pip install -r requirements.txt
  - make html

after_success:
  - coveralls
