click
codecov
dask[array]
graphviz
JPype1>=0.7
jupyter
numpydoc
pandas==0.24.2
pretenders>=1.4.4
pytest-cov
pytest>=3.9
PyYAML
sphinx
sphinx_rtd_theme
sphinxcontrib-bibtex
xarray<0.12
xlrd==1.2.0
XlsxWriter==1.1.8
